* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


  

#cab1 {
    padding: 10px;
    border-bottom: 1px solid #c7c0c0;   
}

#aprt{
    margin-top: 30px;
    border-bottom: 1px solid #c7c0c0;   
}

#carouselExampleIndicators{
    margin-left: 300px;
    height: 100%;
    width: 80%;
    margin-bottom: 100px;
}

img{
    width: 300px;
    height: 800px;
}


/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 
    iframe {      
        width: 80%;  
        height: auto;
    }
 }

/*Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    iframe {      
        width: 80%;  
        height: auto;
     }
 }

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    iframe {      
        width: 80%;  
        height: auto;
    }
 }

/*Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    iframe {      
        width: 80%;  
        height: 800px;
    }
 }

/*Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 
        iframe {     
             width: 80%;  
             height: 800px;
        }
 }